<% include partials/header.ejs %> 

<div class="container">
    
    <div class="jumbotron">
        <div class="container">
              <h1>Welcome to camps page!</h1>
              <p>view our hand-picked camps all over the world!</p>
              <p><a class="btn btn-primary btn-lg" href="/camps/new" role="button">add new camp</a></p>
        </div>
    </div>
    
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% camps.forEach(function(camp){ %>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="<%=camp.image %>" alt="not available"></img>
                    <div class="caption">
                        <h4>The camp name is: <%=camp.name %></h4>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
              </div>
          </div>
        <% }) %>
    </div>
    
  
    
</div>

<% include partials/footer.ejs %>